nav, aside, article, footer, header{
    float: left;
    height: 400px;
    text-align: center;
}

nav{
    margin-top: 20px;
    width: 30%;
    /* background-color: blueviolet;   */
}
article{
    margin-top: 50px;
    width: 50%;
    color: white;
    font-size: 40px;
    /* background-color: cornsilk; */
}
aside{
    margin-top: 50px;
    width: 20%;
    font-size: 70px;
    font-family: 'Helvetica', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
}

footer{
    background-color: black;
    width: 100%;
    margin-top: 170px;
    height: 255px;
}

div{
    color: white;
    justify-content: center;
}

@keyframes menuHover {
    0% {
        transform: scale(1);
        color: white;
    }
    50% {
        transform: scale(1.1);
        color: white;
    }
    100% {
        transform: scale(1);
        color: white;
    }
}